* {
  box-sizing: border-box;
}

:root {
  --primary: #44e9ff;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  font-size: 62.5%;
}

body {
  background: white;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{

}

.container {
  margin: auto;
  width: 200px;
  height: 100px;
  float: right;
  font-size: 20px;
  
}
.container h2{
  position:absolute;
  top:0;
}

.end-text{

}

.highscore{
  position:absolute;
  
  font-size: 30px;
}
.review {
  color: purple;
  margin: auto;
  width: 300px;
  height: 100px;
  font-size: 20px;
  cursor:pointer;
}
.review p{
  position:absolute;
  top:0;
}


.choice-style li{
  list-style:none;
  font-size: 20px;

}
.choice-style ul li:hover {
  background: blue;
  color: white;

}

p{
  font-size: 30px;
}
li {
  font-size: 1.6rem;
}
.result-style {
  
    color:grey;
    border-top:1px solid;

    padding-bottom: 20px;
    text-align:center;
    margin: 0 auto 35px auto;
    width:100%;
}

.one-question {
  font-size: 50px;
  font-weight:bold;
}


.page-title {
  color: var(--primary);
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 4.5rem;
}

.page-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}

.task-list-wrapper {
  flex: 1;
  margin: 0 20px 20px;
}

.list-title {
  color: var(--secondary);
  font-size: 2.6rem;
}

.task-list {
  list-style: none;
  padding: 15px;
  height: calc(100% - 50px);
  background: rgb(196, 196, 196);
  border-radius: 12px;
  border: 2px solid var(--grey);
}

.task-item {
  color: white;
  padding: 15px 15px; 
  /* border: 2px solid var(--grey); */
  background: purple;
  border-radius: 12px;
  margin-bottom: 20px;
  cursor:pointer;
}




.btn:hover {
  box-shadow: 0 2px var(--grey);
  background: blue;
  top: -2px;
}
.btn:active {
  box-shadow: 0 0px var(--grey);
  top: 0;
}

.edit-btn,
.delete-btn {
  font-size: 1.4rem;
  padding: 5px 7px;
  margin: 3px;
  background: var(--secondary);
  color: #fff;
}

.select-dropdown,
.select-status {
  display: block;
  font-size: 2.2rem;
  color: #444;
  padding: 12px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 2px solid var(--grey);
  border-radius: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-status {
  font-size: 1.4rem;
  padding: 4px 28px 4px 4px;
  width: auto;
}

.select-dropdown::-ms-expand,
.select-status::-ms-expand {
  display: none;
}

.select-dropdown:hover,
.select-status:hover {
  border-color: #888;
}

.select-dropdown:focus,
.select-status:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-dropdown option,
.select-status option {
  font-weight: normal;
  font-size: 2rem;
}

@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  }

}
